 *{
  box-sizing: border-box;
  
}
@keyframes colors{
  0% {
   background-color: #92673f;
  }
  100% {
    background: rgba(134, 84, 55, 0.8);
  }
}


body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115vh;
  overflow: hidden;
  margin: 0;
  -webkit-animation-name: colors;
  animation-name: colors;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
#submit{
  text-transform: uppercase;
  color: black;
  cursor: pointer;
}

#quiz-container {
  margin-bottom: 35px;
	background-image: linear-gradient(to right, #a75ea4 0%, #a75ea4  51%, #a75ea4  100%);
  border-radius: 6rem;
  box-shadow: 0 0 0.625rem 0.125rem rgba(100, 100, 100, 0.1);
  width: 1000px;
  height: 600px;
  overflow: hidden;
   box-shadow: 0 0 0.625rem #eee;
}
h1{
	padding: 1rem;
	text-align: center;
	margin: 0;
  }
button{
  background-image: linear-gradient(to right, #f20846 0%, #f20846  51%, #f20846  100%);
	
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  border-radius: 2rem;
}

button:hover{
	background-image: linear-gradient(to right, #9d8e0a 0%, #9d8e0a  51%, #9d8e0a  100%);
}
button:focus{
	outline: none;
	background-color: #44b927;
  }
  #ques{
font-weight: bold;
color: black;
font-size: 2rem;
  }
.btn-grad {
	background-image: linear-gradient(to right, #6441A5 0%, #2a0845  51%, #6441A5  100%);
   
	text-align: center;
	
	transition: 0.5s;
  
	color: white;            
	box-shadow: 0 0 2rem #eee;

  }
  .btn-grad:hover {
	background-position: right center; 
	color: #fff;
	text-decoration: none;
  }
  .quiz-containe.h1{
    font-size: large;
    color: black;
  }
  
  .h1{
    color:black;
     justify-content: center;
  }

  input[type=radio] {
    border: 0rem;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
}
#question, #choices, #result, #score {
  	padding: 1rem;
	text-align: center;
	margin: 0;
}
#question{
  justify-content: center;
}
#choices{
  list-style-type: none;
	padding: 0;
  font-size: 1.2rem;
	margin: 1rem 0;
  cursor: pointer;
}
